<h2 class="card text-center m-2">...Your Satisfaction Our Priority!!!</h2>


<%= render 'form' %>

  <% if @customers.size < 2 %>
  <% @customers.each do |customer| %>
    <div class="card text-center m-3">
      <div class="card-body ">
        <h3 class="card-title">PACKAGE NUMBER : <%=customer.uniq_id%></h3>
      </div>
    </div>


    <% customer.movements.each do |movement| %>

      <div class="card text-center m-3">
          <h5 class="card-header">
            Tracking Update
          </h5>

          <p class="card-title"><strong> <%=movement.detail%> </strong><p>
          <p> <%= movement.tracking_time.strftime("%a, %b %d, %Y, %I:%M %p") %> <%=time_ago_in_words(movement.tracking_time) %> Ago</p>

      </div>

    <% end %>
  <% end %>
<% end%>