<div id="<%= dom_id customer %>">
  <p>
    <strong>Order no:</strong>
    <%= customer.order_no %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= customer.date %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= customer.contact_email %>
  </p>

  <p>
    <strong>Recipient name:</strong>
    <%= customer.recipient_name %>
  </p>

  <p>
    <strong>Recipient phone:</strong>
    <%= customer.recipient_phone %>
  </p>

  <p>
    <strong>Delivery country:</strong>
    <%= customer.delivery_country %>
  </p>

  <p>
    <strong>Delivery state:</strong>
    <%= customer.delivery_state %>
  </p>

  <p>
    <strong>Delivery city:</strong>
    <%= customer.delivery_city %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= customer.delivery_address %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= customer.postal_code %>
  </p>


  <p>
    <strong>Customer ID:</strong>
    <%= customer.id %>
  </p>

  <p>
    <strong>Uniq:</strong>
    <%= customer.uniq_id %>
  </p>

</div>
