<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <%= render customer %>
    <p>
      <%= link_to "Show this customer", customer_path(customer), class: "btn bg-info" %>
    </p>
  <% end %>
</div>

<h3>Import Customers Details </h3>

<%= form_tag import_customers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Customers Record" %>
<% end %>

<%= link_to "New customer", new_customer_path, class: "btn bg-success" %>
