<%= form_with(model: [@customer, movement]) do |form| %>
  <% if movement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
        <% movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :detail, style: "display: block" %>
    <%= form.text_field :detail %>
  </div>

  <div>
    <%= form.label :tracking_time, style: "display: block" %>
    <%= form.datetime_field :tracking_time %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id  %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-default bg-info m-1'  %>
  </div>
<% end %>
